/*Custom styles for Display Advertising Docs*/

/*Home Page*/
.page__navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.pageNav__item > i {
    font-size: 2.5rem;
}

.pageNav__title {
    width: 49%;
}