/*Custom styles for Display Advertising Docs*/

.page__navigation {
    width: 100%;
}
.pageNav__wrapper {
    display: flex;
    align-items: flex-end;
    width: 49%;

}

.pageNav__title h3 {
     font-size: 1.2rem;
 }

.btn__pageNav {
    border-radius: 20px;
    height: 50px;
    width: 100px;
}